/* DEFAULT */

$color-base: black;
$color-primary: red;

$font-size: 16px;

@font-face {
	font-family: Product Sans;
	font-style: normal;
	font-weight: 400;
	src: local("?"),		url(https://cdn.jsdelivr.net/gh/SethuSenthil/Product-Sans@6e2a26aea56f25de95ab509b8ff1fecca4045526/Fonts/HYvgU2fE2nRJvZ5JFAumwRampu5_7CjHW5spxoeN3Vs.woff2) format("woff");
}

@font-face {
	font-family: Product Sans;
	font-style: normal;
	font-weight: 700;
	src: local("?"),		
		url(https://cdn.jsdelivr.net/gh/SethuSenthil/Product-Sans@6e2a26aea56f25de95ab509b8ff1fecca4045526/Fonts/N0c8y_dasvG2CzM7uYqPLshHwsiXhsDb0smKjAA7Bek.woff2)			format("woff");
}

$font-base: Roboto Condensed, serif;
$font-primary: Product Sans, $font-base;

$border: 1px solid rgba($color-base,0.25);

/* THEME */
////////$border: 1px rgba($color-base, 0.25) solid;

//@import "styles.base.scss";

html {
	font-size: $font-size;
}
body {
	font: 1rem/1.125 $font-base;
	//background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAG0lEQVQoU2NkYGAwZmBgOMuAAzDikoCJDw8FAAaHAQlVXm/UAAAAAElFTkSuQmCC);
	background: hsl(0, 0, 95)
}

.container,
.container-fluid {
	padding: 0 1rem;
	.row {
		padding: 1rem 0 0.5rem;
		margin-bottom: 0.5rem;
		//border-bottom: $border;
		> * {
			padding: 0 1rem;
			margin-bottom: 0.25rem;
			> * {
				margin-bottom: 0.25rem;
			}
		}
		&.insight_card {
			background: #fff;
			border-radius: 15px;
			margin: 1rem 0 1rem;
			box-shadow: 0 0.125rem 1rem 0.125rem rgba(#000,0.125) ;
			.btn {
				border-radius: 5px;
			}
			h1 {
				margin-bottom: 0.5rem !important;
			}
			.date {
				text-align: right;
				float: right;
				min-width: 15%;
				font: 0.65rem/1 $font-base;
				margin-top: 0.125rem;
			}
		}
		
	}
}

.logo {
	font: 1.5rem $font-primary;
	letter-spacing: -1px;
}

.rewards {
	font: 0.75rem/1 $font-base;
	font-weight: 400;
	background: hsl(35,90,60);
	color: #fff;
	padding: 0.375rem 0.5rem;
	border-radius: 1rem;
}

h1 {
	font: 0.9rem $font-primary;
	font-weight: 700;
}

.btn {
	font: 1rem $font-primary;
	border: $border;
	font-weight: bold;
	border-radius: 0;
	min-height: calc(24px + 1rem);
	min-height: 1rem;
	//border-radius: 3rem;
	padding: 0.5rem 0.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	background: #fff;
	&.acknowledge {
		justify-content: center;
	}
}

