/* DEFAULT */
@font-face {
  font-family: Product Sans;
  font-style: normal;
  font-weight: 400;
  src: local("?"), url(https://cdn.jsdelivr.net/gh/SethuSenthil/Product-Sans@6e2a26aea56f25de95ab509b8ff1fecca4045526/Fonts/HYvgU2fE2nRJvZ5JFAumwRampu5_7CjHW5spxoeN3Vs.woff2) format("woff");
}

@font-face {
  font-family: Product Sans;
  font-style: normal;
  font-weight: 700;
  src: local("?"), url(https://cdn.jsdelivr.net/gh/SethuSenthil/Product-Sans@6e2a26aea56f25de95ab509b8ff1fecca4045526/Fonts/N0c8y_dasvG2CzM7uYqPLshHwsiXhsDb0smKjAA7Bek.woff2) format("woff");
}

/* THEME */
html {
  font-size: 16px;
}

body {
  font: 1rem/1.125 Roboto Condensed, serif;
  background: #f2f2f2;
}

.container,
.container-fluid {
  padding: 0 1rem;
}

.container .row,
.container-fluid .row {
  padding: 1rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.container .row > *,
.container-fluid .row > * {
  padding: 0 1rem;
  margin-bottom: 0.25rem;
}

.container .row > * > *,
.container-fluid .row > * > * {
  margin-bottom: 0.25rem;
}

.container .row.insight_card,
.container-fluid .row.insight_card {
  background: #fff;
  border-radius: 15px;
  margin: 1rem 0 1rem;
  -webkit-box-shadow: 0 0.125rem 1rem 0.125rem rgba(0, 0, 0, 0.125);
          box-shadow: 0 0.125rem 1rem 0.125rem rgba(0, 0, 0, 0.125);
}

.container .row.insight_card .btn,
.container-fluid .row.insight_card .btn {
  border-radius: 5px;
}

.container .row.insight_card h1,
.container-fluid .row.insight_card h1 {
  margin-bottom: 0.5rem !important;
}

.container .row.insight_card .date,
.container-fluid .row.insight_card .date {
  text-align: right;
  float: right;
  min-width: 15%;
  font: 0.65rem/1 Roboto Condensed, serif;
  margin-top: 0.125rem;
}

.logo {
  font: 1.5rem Product Sans, Roboto Condensed, serif;
  letter-spacing: -1px;
}

.rewards {
  font: 0.75rem/1 Roboto Condensed, serif;
  font-weight: 400;
  background: #f5a83d;
  color: #fff;
  padding: 0.375rem 0.5rem;
  border-radius: 1rem;
}

h1 {
  font: 0.9rem Product Sans, Roboto Condensed, serif;
  font-weight: 700;
}

.btn {
  font: 1rem Product Sans, Roboto Condensed, serif;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-weight: bold;
  border-radius: 0;
  min-height: calc(24px + 1rem);
  min-height: 1rem;
  padding: 0.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  background: #fff;
}

.btn.acknowledge {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */